version: "3.8"

services: 
  server:
    #image: 'nginx:stable-alpine'
    build:
      context: .
      dockerfile: dockerfiles/nginx.dockerfile
      #위와 같이 되는 이유: nginx.dockerfile에서 해당 dockerfile보다 상위의 폴더의 파일 내용을, 폴더 내용을 가져와야 함... 그러나 하위 폴더로 지정되면 그에 해당하는 파일을 찾지 못하여 빌드에 실패하므로..
      #context는 yaml파일이 있는 위치와 동일하게 유지하고... : dockerfiles/nginx.dockerfile을 이용하여 빌드할 것을 지시
      
    ports:
      - '8000:80'
    #volumes는 개발중에는 유용하나 배포시에는 로컬 기기에 설치하는 식으로 실행되므로 (우리가 원하지 않는 것)
    #volumes:
    #  - ./src:/var/www/html
      #아래와 같이 하면 설정 파일이 통합되어 복사, 저장됨.. default.conf
    #  - ./nginx/nginx.conf:/etc/nginx/nginx.conf.d/default.conf:ro
    #아래와 같이 종속성을 설정하면 server만 실행시켰을 때 php와 mysql도 같이 실행됨
    depends_on:
      - php
      - mysql
  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html:delegated #원래 bindmount로 처리하게 되면 다운 받은 코드 등이 bind mount된 폴더로 파일이 이동, 복사되는데 :delegated를 쓰게 되면 호스트 기기에 저장을 하지 않음! : 성능상 최적화가 진행됨
    #포트는 노출할 필요가 없음: 컴퓨터에서 직접 php로 보내지 않고 php 컨테이너에서 server와 통신하기 때문에 port를 열 필요가 없음
  mysql:
    image: mysql:5.7
    env_file:
      - ./env/mysql.env
  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      #로컬 폴더에 컨테이너의 내용을 복사해 올 것..
      - ./src:/var/www/html
  artisan:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      - ./src:/var/www/html
    #docker파일을 같이 쓰지만 entrypoint를 추가하고 싶을 때 아래의 entrypoint를 추가...!
    entrypoint: ["php", "/var/www/html/artisan"]
  npm:
    image: node
    working_dir: /var/www/html
    entrypoint: ["npm"]
    volumes:
      -./src:/var/www/html
  
